name: Download and Push File

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'  # Run daily at UTC midnight

jobs:
  download_data:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout ontario-marriage-officiants
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PAT_ONTARIOMARRIAGEOFFICIANTS_SCRAPE }}
          repository: 'RamVasuthevan/ontario-marriage-officiants'
          path: ontario-marriage-officiants
          ref: 'main'

      - name: Download File
        run: |
          # Use a user-agent string to mimic Google Chrome
          curl -o ontario-marriage-officiants/registered_marriage_officiants.csv -A "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36" https://data.ontario.ca/dataset/38ddc983-1bf0-4bee-ad18-07dac8cfe884/resource/e010f610-c3d6-4f88-849b-6f8c11e98d9c/download/registered_marriage_officiants.csv

      - name: Commit and Push if Files Changed
        run: |
          cd ontario-marriage-officiants
          git config user.name "Automated"
          git config user.email "actions@users.noreply.github.com"
          git add registered_marriage_officiants.csv
          timestamp=$(date -u)
          git commit -m "Downloaded: ${timestamp}: commit: ${{github.sha}}" || exit 0
          # Use force push to push changes
          git push --force
